.squiggly-warning,
.squiggly-error,
.squiggly-info,
.squiggly-hint {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    box-sizing: border-box !important;
}

.squiggly-warning  {
    background: #ffc00030;
    border-bottom-color: #ffc000;
}

.squiggly-error {
    background: #ff000030;
    border-bottom-color: #ff0000;
}

.squiggly-info {
    background: #0e7fff30;
    border-bottom-color: #0e7fff;
}

.squiggly-hint {
    background: #a2eeef30;
    border-bottom-color: #a2eeef;
}
